/* base */

:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preta);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.container {
  margin-left: 50px;
}

/* navbar */

.navbar{
  padding-block: 1%;
  padding-inline: 50px;
  position: fixed;
  width: 100%;
  background: linear-gradient(rgba(14, 14, 14), rgba(0, 0, 0, 0) 100%)
  
}

.nav-active {
  background-color: var(--preta);
}

nav .container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .logo {
  text-decoration: none;
  color: var(--vermelho);
  font-family: "Bebas Neue";
  font-size: 36px;
  letter-spacing: 5px;
  margin-right: 30px;
}

nav .logo:hover {
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
  color: rgb(221, 221, 221);
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

nav ul a:hover:not(.active) {
  color: #aaa;
}

.active {
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

nav .menu-direita {
  margin-left: auto;

}

nav .menu-direita i{
  color: white;
  font-size: 20px;
  margin-inline: 10px;
}

/* filme destaque */

header .filme-capa {
  font-size: 16px;
  background: linear-gradient(180deg,rgba(0, 0, 0, 0), #141414 100%), url('../img/capa-pb.jpg');
  height: 700px;
  width: auto;
  background-size: cover;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header .filme-capa .titulo {
  width: 40%;
  margin-top:  20%;
  margin-bottom: 1%;
}

header .filme-capa .detalhe {
  margin-bottom: 1%;
  font-weight: bold;
}

header .filme-capa .descricao {
  margin-bottom: 1%;
  width: 45%;
}

header .botoes button {
  border: none;
  padding: 15px 30px;
  margin-right: 5px;
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15.264px;
  font-weight: 700;
  
  cursor: pointer;
  border-radius: 4px;
}

header .botoes i {
  margin-right: 15px;
}

header .botao-assistir {
  background-color: white;
  color: black;
}

header .botao-assistir:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

header .botao-info {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

header .botao-info:hover {
  background-color: rgba(109, 109, 110, 0.5);
}


/* corpo da pagina */

main{
  margin-top: -140px;
}

main .container h2 {
  margin-bottom: 10px;
}


.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}
